<nav>
    <a href="{{ path('app_default_index') }}">Home</a>
    <a href="{{ path('app_contact_index') }}">Contacts</a>
    <a href="{{ path('societe_index') }}">Société</a>
    {# {{ showLinksSocieteNotEmpty() }}  #}
</nav>
