{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    {{ form_start(contactForm, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_row(contactForm.name) }}
    {{ form_row(contactForm.email) }}
        <button>OK</button>
    {{ form_end(contactForm) }}
{% endblock %}
