{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<form method="post">
    <p>Etes vous sur de vouloir supprimer {{ contact.name }} ?</p>
    <button>Oui</button>
    <button>Non</button>
</form>
{% endblock %}
